:root{
    --fundo: #d097ff;
    --cartão-frente: #4682b4;
    --cartao-verso: #000;
    --destaque:#00FFFF;
    --preto: #000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    max-resolution: 0;

}
footer{
    position:fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 20px;

}
.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartão-frente);
    box-shadow: 5px 5px 25px var(--preto);
    border-radius:10px;
}
.conteudo-cartao:houver{
    transform: scale(1.02);

}