:root{
    --fundo: #d0a5f3;
    --cartão-frente: #6c008d;
    --cartao-verso: #000;
    --destaque:#32037c;
    --preto: #000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

header{
    background-color: var(--cartão-frente);
color: var(--branco);
padding: 2rem;
display: flex;
justify-content: space-around;
}

header a{
    text-decoration: none;
    color: var(--branco);
}
footer{
    position:fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 20px;

}
.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartão-frente);
    box-shadow: 5px 5px 25px var(--preto);
    border-radius:10px;
}
.conteudo-cartao:houver{
    transform: scale(1.02);

}